@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Hummmmm algo estranho aconteceu. Esse erro pode ser algo temporário ou não. <br/> 
Se você está tenando uma operação sensível e que não deseja que seja processada duas vezes não tente novamente!
<br/>Caso contrario, tente novamente em alguns segundos...</h1>
