@{
    ViewData["Title"] = "About";
}
<!--
<div class="fh5co-slider">
    <div class="container">
        <img src="/images/slider_3.jpg" alt="Loja aDigital" class="img-responsive">
    </div>
</div>
-->
<!-- Slider -->

<div id="fh5co-intro" class="fh5co-section">
    <div class="container">
        <div class="row row-bottom-padded-sm">
            <div class="col-md-8 col-md-offset-2 text-center ts-intro">
                <h1>Quem Somos</h1>
                <p class="fh5co-lead">aDigital.Press é uma gráfica digital. Simples, direta, concisa, dedicada, focada em entregas rápidas e de qualidade superior. Trabalhamos sempre para ajudar nossos clientes a causar impactos e atingir os resultados desejados.</p>
            </div>
        </div>
        <div class="row row-bottom-padded-sm">
            <div class="col-md-8" id="fh5co-content">
                <h2>História</h2>
                <p>Fundada em 2017, a aDigital.Press é a continuidade de um sólido negócio familiar, sendo transformado para atender também às novas demandas e necessidades de um público consumidor digital.<br/> Somos uma gráfica que se propõe a atender o público tradicional, que vê a gráfica apenas como um lugar de impressão e o público digital, que nos vê como um local de impressão, criação, ajustes, aconselhamento e cooperação.</p>
                <p>Nosso fundador entrou para o ramo gráfico após uma bem sucedida carreira no ramo da tecnologia da informação. <br/>Após atuar mais de 10 anos com construção de intranets empresarais para empresas como a Cemig, consultoria em gestão de projetos para Tim, liderança de equipes, sistemas de logistica, ERPs entre outros, chegou a hora de investir e iniciar o próprio negócio.</p>
                <p>As tradicionais gráficas ou não possuem atendimento nenhum de criação, ou possuem profissionais medianos dedicados. <br/>A opção numero 1 é barata e permite o foco na impressão, mas limita o cliente, especialmente aqueles que precisam de algo pequeno e rápido.
                <br/> A segunda é cara e ineficaz pois requer profissionais muito versáteis, além de não permitir o foco em impressão.<br/> Nós começamos com uma abordagem diferente: Firmamos uma parceria com a empresa de design aImaginação para que a mesma, especializada em artes e design, atendesse a demanda específica que se apresenta a nós, nos permitindo focar em impressão, sem prejudicar os clientes.</p>
            </div>
            <div class="col-md-4" id="fh5co-sidebar">
                <div class="fh5co-service text-left">
                    <img src="@ViewBag.RootBlobURL/public/storeFront.jpg" class="img-responsive img-bordered" alt="Frente da loja">
                    <h3>Fácil Acesso</h3>
                    <p>Nossa loja física é localizada no pavimento da rua do condominio do ed. Wall Street, na Avenida do Contorno 8000. O acesso tambem é possível pela rua Rodrigues Coelho, em frente ao numero 50.<br/> Faça-nos uma visita! </p>
                    <ul class="ul_style_1">
                        <li>Abrimos de Segunda a Sexta a partir 8h e não fechamos antes das 19h</li>
                        <li>Entregamos via motoboy e uber</li>
                        <li>Email principal é contato@adigital.press</li>
                        <li>Nosso whatsApp é </li>
                        <li>Nosso telefone é (31) 2527-4162</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--
        <div class="row row-bottom-padded-sm">
            <div class="col-md-6">
                <p><img src="/images/slider_3.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive img-bordered"></p>
            </div>
            <div class="col-md-6 padded-top">
                <h3>Creative Title Here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum fuga rerum doloremque dolore, molestias eligendi. Nulla aliquam aut doloribus tenetur repellendus omnis dicta, unde magni.</p>
                <ul class="ul_style_1">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipisicing elit</li>
                    <li>Recusandae laboriosam eligendi maiores</li>
                    <li>Sapiente repudiandae perspiciatis</li>
                </ul>
            </div>
        </div> -->

        <div class="row row-bottom-padded-sm">
            <div class="col-md-8 col-md-offset-2 text-justify" id="fh5co-content">
        <div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = 'adigital.press/home/about'
this.page.identifier = 'e895841a-dfae-44d8-b87a-17f5303b406a';
};

(function() {
var d = document, s = d.createElement('script');
s.src = 'https://adigital-press.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        </div></div>
    </div>
</div>

