@{
    ViewData["Title"] = "Home Page";
}
<div class="fh5co-slider">
    <div class="container">
        <div class="owl-carousel owl-carousel-main">
          <div><img src="images/slider_1.jpg" alt="Free HTML5 Website Template"></div>
          <div><img src="images/slider_2.jpg" alt="Free HTML5 Website Template"></div>
          <div><img src="images/slider_3.jpg" alt="Free HTML5 Website Template"></div>
          <div><img src="images/slider_3.jpg" alt="Free HTML5 Website Template"></div>
        </div>
    </div>
</div>
<div id="fh5co-intro" class="fh5co-section">
    <div class="container">
        <div class="row row-bottom-padded-md">
            <div class="col-md-8 col-md-offset-2 text-center ts-intro">
                <h1>aDigital.Press</h1>
                <p class="fh5co-lead">Gráfica digital focada em entrega rápida de qualidade. Simples assim.</p>
            </div>
        </div>
        <div class="row row-bottom-padded-sm">
            <div class="col-md-4">
                <div class="fh5co-service text-center">
                    <span class="fh5co-service-icon fh5co-icon-pentagon"><i class="icon-tools-2"></i></span>
                    <h3>Agilidade</h3>
                    <p>Somos ágeis e fazemos de tudo para entregar o seu serviço o mais rápido possível, afinal, tempo é dinheiro!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-service text-center">
                    <span class="fh5co-service-icon fh5co-icon-pentagon"><i class="icon-trophy22"></i></span>
                    <h3>Impressões de Qualidade</h3>
                    <p>Nada complementa agilidade como qualidade, por isso estamos sempre trabalhando e nos aperfeiçoando para entregar nada menos que perfeição.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-service text-center">
                    <span class="fh5co-service-icon fh5co-icon-pentagon"><i class="icon-profile-male"></i></span>
                    <h3>Atendimento Diferenciado</h3>
                    <p>Nosso atendimento é inteligente, atencioso, divertido, responsivo e (principalmente) preocupado com o resultado. Duvida? <a href="tel:+553125274162">Liga aí</a> e confere!</p>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-sm">
            <div class="col-md-6">
                <p><img src="images/slider_1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive img-bordered"></p>
            </div>
            <div class="col-md-6 padded-top">
                <h3>Creative Title Here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum fuga rerum doloremque dolore, molestias eligendi. Nulla aliquam aut doloribus tenetur repellendus omnis dicta, unde magni.</p>
                <ul class="ul_style_1">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipisicing elit</li>
                    <li>Recusandae laboriosam eligendi maiores</li>
                    <li>Sapiente repudiandae perspiciatis</li>
                </ul>
            </div>
        </div>

        <div class="row row-bottom-padded-sm">
            <div class="col-md-4">
                <div class="fh5co-service text-center">
                    <img src="images/slider_1.jpg" class="img-responsive img-bordered" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                    <h3>Graphic Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ullam unde, totam harum laboriosam dolores.</p>
                </div>



            </div>
            <div class="col-md-4">
                <div class="fh5co-service text-center">
                    <img src="images/slider_2.jpg" class="img-responsive img-bordered" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                    <h3>Web Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ullam unde, totam harum laboriosam dolores.</p>
                </div>

            </div>
            <div class="col-md-4">
                <div class="fh5co-service text-center">
                    <img src="images/slider_3.jpg" class="img-responsive img-bordered" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                    <h3>Web Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ullam unde, totam harum laboriosam dolores.</p>
                </div>

            </div>
        </div>


    </div>
</div>
