@{
    ViewData["Title"] = "Home Page";
}
@section openGraphIntegration
    {
    <meta property="og:title" content="aDigital.Press - Bem Vindo!" />
    <meta property="og:image" itemprop="image" content="http://blob.adigital.press/images/logoBig.png" />
    <meta property="og:url" content="http://aDigital.Press" />
    <meta property="og:description" content="Gráfica rápida digital - Av. Do Contorno 8000, Santo Agostinho, BH" />
    <meta property="og:type" content="website" />
}
<!--
<div class="fh5co-slider">
    <div class="container">
        <div class="owl-carousel owl-carousel-main">
          <div><img src="images/slider_1.jpg" alt="Free HTML5 Website Template"></div>
          <div><img src="images/slider_2.jpg" alt="Free HTML5 Website Template"></div>
          <div><img src="images/slider_3.jpg" alt="Free HTML5 Website Template"></div>
        </div>
    </div>
</div>
-->
<div id="fh5co-intro" class="fh5co-section">
    <div class="container">
        <div class="row row-bottom-padded-md">
            <div class="col-md-8 mx-auto text-center ts-intro">
                <h1>aDigital.Press</h1>
                <p class="fh5co-lead">Gráfica digital focada em entrega rápida de qualidade. Simples assim.</p>
            </div>
        </div>
        <div class="row row-bottom-padded-sm">
            <div class="col-md-4">
                <div class="fh5co-service text-center">
                    <span class="fh5co-service-icon fh5co-icon-pentagon"><i class="icon-stopwatch"></i></span>
                    <h3>Agilidade</h3>
                    <p>Somos ágeis e fazemos de tudo para entregar o seu serviço o mais rápido possível, afinal, tempo é dinheiro!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-service text-center">
                    <span class="fh5co-service-icon fh5co-icon-pentagon"><i class="icon-trophy22"></i></span>
                    <h3>Impressões de Qualidade</h3>
                    <p>Nada complementa agilidade como qualidade, por isso estamos sempre trabalhando e nos aperfeiçoando para entregar nada menos que perfeição.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-service text-center">
                    <span class="fh5co-service-icon fh5co-icon-pentagon"><i class="icon-profile-male"></i></span>
                    <h3>Atendimento Diferenciado</h3>
                    <p>Nosso atendimento é inteligente, atencioso, divertido, responsivo e (principalmente) preocupado com o resultado. Duvida? <a href="tel:+553125274162">Liga aí</a> e confere!</p>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-sm">
            <div class="col-md-6">
                <p><img src="@ViewBag.RootBlobURL/public/spaceShuttleLaunch.gif" alt="Lancamento" class="img-responsive img-bordered"></p>
            </div>
            <div class="col-md-6 padded-top">
                <h3>Promoção de lançamento do novo site</h3>
                <p>Apresente este post ao vivo (não vale print/screenshot!) na realização do seu pedido e escolha um entre os itens abaixo:</p>
                <ul class="ul_style_1">
                    <li>Leve 3 pague 2 no cartão de visita couche fosco 300g 4x4 laminado: 300 unidades por R$95,00</li>
                    <li>100 impressões P&B em sulfite por R$0,15 a unidade</li>
                    <li>15% de desconto nas suas impressões coloridas no papel sulfite</li>
                </ul>
                <p>Corra! A promoção dura até 01/54/18 e os itens promocionais podem ser substituídos sem aviso prévio!</p>
            </div>
        </div>

        <div class="row row-bottom-padded-sm">
            <div class="col-md-4">
                <div class="fh5co-service text-center">
                    <img src="@ViewBag.RootBlobURL/public/pic01.jpg" class="img-responsive img-bordered" alt="banner blog">
                    <a href="/blog"><h3>O nosso blog</h3></a>
                    <p>
                        Com o intuito de promover e aguçar as mentes ávidas por inovações e boas idéias estamos lançando o nosso blog, que tem como propósito expor a industria gráfica em geral.<br />
                        <a href="/blog">Leia agora</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-service text-center">
                    <p><i class="icon-tools-2 img-responsive img-bordered" alt="em construcao" style="font-size:160pt; color:#FF5126"></i></p>
                    <a href="/home/newFeatures"><h3>Tem novidade vindo aí!</h3></a>
                    <p>Nosso site ainda não está pronto. Na verdade ele nunca vai estar. <br /> Acompanhe <a href="/home/newFeatures">aqui</a> o que andamos disponibilizando! <br /> Se você achou um erro, pode reportar <a href="https://adigital-press.disqus.com">aqui!</a></p>
                </div>

            </div>
            <div class="col-md-4">
                <div class="fh5co-service text-center">
                    <img src="@ViewBag.RootBlobURL/public/chat.png" class="img-responsive img-bordered" alt="chat box">
                    <a href="https://adigital-press.disqus.com"><h3>Opine!</h3></a>
                    <p>Gostariamos muito de saber suas opiniões! Envie-nos um <a href="mailto:contato@adigital.press">email</a>, ou um <a href="https://adigital-press.disqus.com">acesse o nosso forúm</a> e registre-a lá.<br /> Seu feedback é muito valioso para nós!</p>
                </div>
            </div>
        </div>
    </div>
</div>
