@{
    ViewData["Title"] = "About";
}
<div class="fh5co-slider">
    <div class="container">
        <img src="https://adigital.blob.core.windows.net/public/em_construcao1.jpg" alt="em construção banner" class="img-responsive">
    </div>
</div>
<!-- Slider -->

<div id="fh5co-intro" class="fh5co-section">
    <div class="container">
        <div class="row row-bottom-padded-sm">
            <div class="col-md-8 col-md-offset-2 ts-intro">
                <h1>Versão: 1.0.2 - 08/03/2018</h1>
                <ul>
                    <li>Correção para correto carregamento dos sessão de comentários. - Obrigado Diogo</li>
                </ul>
                <h1>Versão: 1.0.1 - 07/03/2018</h1>
                <ul>
                    <li>Agora o CSS e JS do site são carregados via bundle - Obrigado Henrique Marinho</li>
                    <li>Página do Entre em Contato foi consertada - Obrigado Henrique Marinho</li>
                </ul>
                <h1>Versão: 1.0.0 - 06/03/2018</h1>
                <p class="fh5co-lead">Esta é primeira publicação do nosso site... Fique no aguardo para novidades!</p>
            </div>
        </div>


        <div class="row row-bottom-padded-sm">
            <div class="col-md-8 col-md-offset-2 text-justify" id="fh5co-content">
        <div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = 'http://adigital.press/home/newFeatures'
this.page.identifier = 'e895841a-dfae-44d8-b87a-17f5303b406u';
};

(function() {
var d = document, s = d.createElement('script');
s.src = 'https://adigital-press.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        </div></div>
    </div>
</div>


