@section openGraphIntegration
{
    <meta property="og:title" content="Introduzindo o Nosso Blog - aDigital.Press"/>
    <meta property="og:image" itemprop="image" content="@Model.HeadImage"/>
    <meta property="og:url" content="http://aDigital.Press/Posts/@Model.SequentialId"/>
    <meta property="og:site_name" content="aDigital.Press"/>
    <meta property="og:description" content="Cotidianamente, nós aqui na aDigital.Press, ficamos impressionados com a criatividade e as realizações de designers ..."/>
    <meta property="og:type" content="article" />
}
<div id="fh5co-intro" class="fh5co-section">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-2 text-justify" id="fh5co-content">
            <span style="font-size: 9pt">Publicado em 10/01/2018 por Leonardo Ferreira</span>
            <a href="/post/1"><h2>Introduzindo o nosso blog</h2></a>
            <p>
            <span>Cotidianamente, nós aqui na aDigital.Press, ficamos impressionados com a criatividade e as realizações de designers, engenheiros, fotógrafos e outros profissionais artísticos. Estamos lançando o blog com o intuito de promover não apenas a criação artística, mas para mostrar o poder da combinação de um artista com uma excelente gráfica.</span><br/>
            <span>Queremos que esse blog se torne um repositório não apenas de artigos e opniões, mas também de cases de sucesso de todo mundo. Cases de insucesso também são muito bem vindos, pois podemos todos aprender com o erro dos outros. Aqui todo tipo de material e acabamento é vindo!</span>
            </p>
            <p><img src="https://m.popkey.co/991451/kMlYw.gif" alt="TA DA!" class="center-block"/></p>
            <p>
            <span>Se você possui um trabalho que deseja publicar aqui, entre em contato <a href="mailto:blog@aDigital.Press">através do blog@aDigital.Press</a>. Após o contato inicial iremos apenas garantir a originalidade dos itens (sim, nós damos muito valor a propriedade intelectual) e avaliar o resultado de acordo com sua originalidade, inovação e dificuldade de execução apenas para garantir que o conteúdo do blog não fique repetitivo. Obviamente, todos os créditos serão concedidos aos envolvidos (artistas, arte finalistas, impressores, acabamentistas e etc...)<br/></span>
            <span>Bom, por hoje é só!</span>
            </p>
        </div>
    </div>

    
</div>
        <div class="row row-bottom-padded-sm">
            <div class="col-md-8 col-md-offset-2 text-justify" id="fh5co-content">
        <div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = 'http://adigital.press/posts/0'
this.page.identifier = 'e895841a-dfae-44d8-b87a-17f5303b406c';
};

(function() {
var d = document, s = d.createElement('script');
s.src = 'https://adigital-press.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        </div></div>
    </div>
