@{
    ViewData["Title"] = "About";
}
<!--
<div class="fh5co-slider">
    <div class="container">
        <img src="/images/slider_3.jpg" alt="Serviços" class="img-responsive">
    </div>
</div>
-->

<div id="fh5co-intro" class="fh5co-section">
    <div class="container">
        <div class="row row-bottom-padded-sm">
            <div class="col-md-8 col-md-offset-2 text-center ts-intro">
                <h1>Serviços</h1>
                <p class="fh5co-lead">Esta página ainda está em construção. <br/>Em breve ela listará de uma maneira simples e intuitiva todos os serviços que oferecemos.</p>
                <p class="fh5co-lead">Enquanto ela não fica pronta, você pode ficar sabendo de tudo que fazemos através do telefone <a href="tel:+553125274162">(31) 2527-4162</a> ou pelo email <a href="mailto:contato@adigital.press">contato@adigital.press</a>.</p>
            </div>
        </div>

        <!--
        <div class="row row-bottom-padded-sm">
            <div class="col-md-6">
                <p><img src="/images/slider_3.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive img-bordered"></p>
            </div>
            <div class="col-md-6 padded-top">
                <h3>Creative Title Here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum fuga rerum doloremque dolore, molestias eligendi. Nulla aliquam aut doloribus tenetur repellendus omnis dicta, unde magni.</p>
                <ul class="ul_style_1">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipisicing elit</li>
                    <li>Recusandae laboriosam eligendi maiores</li>
                    <li>Sapiente repudiandae perspiciatis</li>
                </ul>
            </div>
        </div> -->

        <div class="row row-bottom-padded-sm">
            <div class="col-md-8 col-md-offset-2 text-justify" id="fh5co-content">
        <div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = 'adigital.press/home/about'
this.page.identifier = 'e895841a-dfae-44d8-b87a-17f5303b406a';
};

(function() {
var d = document, s = d.createElement('script');
s.src = 'https://adigital-press.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        </div></div>
    </div>
</div>

